<%= button_to 'Share an idea', new_idea_path, :method => :get, :class => 'button', :id => 'share' %>

<h1>ideas</h1>

<% @ideas.each do |idea| %>
<div>
    <h3><%= link_to idea.title, idea_path(idea) %> <small><em><%= idea.app.name %></em></small></h3>
    <p>Shared by <%= idea.creator.name %> <%= idea.votes_count %> votes</p>
</div>
<% end %>

