<section id="idea">
    <%= back_to_ideas_link(@idea) %>
    <% if @idea.app.present? %>
    <h4 class="app"><%= @idea.app.name %></h4>
    <% end %>
    <h2><%= @idea.title %></h2>
    <p>Shared by <%= @idea.creator.name %></p>
    <p class="comment"><%= @idea.comments.shift.body %></p>
    <% @idea.comments.each do |comment| %>
    <p class="comment"><strong><%= comment.creator.name %> said:</strong><br/> <%= comment.body %></p>
    <% end %>
    <%= button_to '+1', idea_votes_path(@idea), :method => :post, :class => 'gray button smallest' if @idea.votable? && !@idea.already_voted?(current_user)  %>
    <%= cycle_button(@idea) %>
    <%= escalate_button(@idea) %>
    <%= button_to 'Scrap this idea', idea_path(@idea), :method => :delete, :confirm => 'Are you sure?', :class => 'gray button smallest' if @idea.scrappable?  %>
    <%= form_for :comment, :url => idea_comments_path(@idea), :html => { :id => 'new_comment' } do |f| %>
        <div class="field">
            <%= f.label :body, 'Leave a comment...' %>
            <%= f.text_area :body %>
        </div>
        <div class="actions">
            <%= f.submit 'Add this comment', :class => 'gray button smaller' %>
        </div>
    <% end unless @idea.implemented? %>
</section>
<aside id="people">
  <h4><%= @idea.votes_count || 'no' %> votes</h4>
<% @idea.voters.each do |voter| %>
    <%= voter.name %> +1<br/>
<% end %>
</aside>